
  
  /* Conteneur centré */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding-bottom: 70px;
    padding-top: 70px;
  }
  
  /* Style du formulaire */
  .login-form {
    width: 30%;

    padding: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Titre du formulaire */
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Champs du formulaire */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  
  /* Style du bouton */
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  /* Messages d'erreur */
  .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  